* {
    margin: 0;
    padding: 0
}
body {
    font-family: 'Open Sans', sans-serif;

}
nav ul {
    list-style-type: none;
}
nav ul a {
    display: block;
    background: #0d1317;
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ad343e;
    transition: color 2s ease,  background 2s, ease, padding 1s ease;
}
nav ul a:hover{
    background: #474747;
    color: #e0e0e0;
    padding-left: 30px;
}
.nav-container img {
    width: 100px;
}
.nav-container {
    padding: 0px 10px;
    background: #474747;
    border-bottom: 3px solid #ad343e;
}
.bar{
    width: 30px;
    height: 3px;
    margin: 7px;
    background: #ad343e;
}
.btn{
    display: inline-block;
} 